h3{
    height: 50px;
    font-size: 2rem;
    margin: 0 15% 0 15%;
  }
  .CategoryCell {
    font-size: 10%;
    margin: 0 15% 0 30%;
    border-radius: 10px;
    padding: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  