.header{
    height: var(--header-height);
    background: -webkit-linear-gradient(left,#33ccff 0%, #ff99cc 100%);
    position: relative;
    top:0;
    left:0;
    right:0;
    z-index: 1;
}

.header-with-search{
    height:var(--header-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header-logo{
    margin: 20px 0 0 20px;
}

.logo-img{
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.logo-img__css{
    height: 140px;
    border-radius: 10px;

}

.header__search{
    background-color: var(--white-color);
    height:40px;
    flex:1;
    border-radius: 5px;
    display:flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header__search-input-wrap{
    flex:1; 
    height:100%;
    position: relative;
}

.header__search-input{
    width:100%;
    height:100%;
    border:none;
    outline:none;
    font-size:1.4rem;
    color: var(--text-color);
    padding:0 16px;
    border-radius: 2px;
}

.header__search-menu{
    height: 34px;
    width: 34px;
}

.header__search-menu:hover{
    opacity:0.7;
    cursor: pointer;
}

.header__search-menu-icon{
    font-size: 2rem;
    margin-top:0.6rem;
    color: var(--primary-color);
}

.header__search-btn{
    background-color:var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 15px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover{
    opacity:0.7;
    cursor: pointer;
}

.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.login-out{
    height: 40px;
    width: 80px;
    background: var(--white-color);
    margin: 0 0 0 16px;
    border-radius: 15px;
    display: flex;
}

.login-out__btn{
    width:100%;
    height:100%;
    font-size:1.4rem;
    color: var(--primary-color);
    padding:0 16px;
    text-decoration: none;
    font-weight: 700;
    align-items: center;
    display: flex;
    justify-content: center;
}

.language{
    height: 40px;
    width: 50px;
    background: var(--white-color);
    margin: 0 0 0 16px;
    border-radius: 15px;
    display: flex;
}
.language-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-icon__vietnam{
    height: 55%;
    width: 60%;
}



.content{
    background-image: url(../img/bg1.png);
    background-size: 400px;
    width: 100%;
    position: relative;
}

.content__bg{
    width: 100%;
    height: 100%;
}


.friend-list{
    position: fixed;    
    bottom : 0;
    width: 16.66667%;
    top: var(--header-height);
    left: 0 ;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}

.friend-list__heading{
    text-align: center;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0, rgb(93, 255, 128), rgb(51, 163, 255));
}

.friend-list__contact,
.friend-list__friend{
    display: flex;
    justify-content: center; 
    align-items: center;  
    padding: 5px 5px;
}

.friend-list__title-img,
.friend-list__friend-img{
    height: 24px;   
    margin-right: 5px;    
}

.friend-list__title-name,
.friend-list__friend-name{
    font-size:1.2rem;
    font-weight:700;
    margin:8px 5px 8px 0;    
}

.friend-list__heading-2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9affa3;
    border-bottom: 3px dashed #ffb23e;
}

.friend-list__add{
    display: flex;
    border-radius: 10px;
    margin: 5px 10px;
    background-color: rgb(140, 203, 255);
}
.friend-list__add:hover{
    opacity: 0.7;
    cursor: pointer;
}

.friend-list__add-icon{
    margin: auto 10px;
}

.friend-list__title{
    background-color: #9affa3;
    width: 100%;
    display: block;
}

.friend-info{
    width: 100%;
    display: flex;
}

.friend-info__item{
    width: 100%;
    display: flex;
    margin: 10px 12px;
    justify-content: space-between;
    border: 2px solid #ffb23e;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ffb23e;
}

.friend-list__title-add{
    border-radius: 10px;
    background-color: rgb(140, 203, 255);
}

.friend-list__title-add:hover{
    opacity: 0.7;
    cursor: pointer;
}

.friend-list__footer{
    background-color: #ff99cc;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.friend-list__footer-icon{
    font-size: 1.8rem;
    color:#000;
}




.game-screen{
    height: 500px;
    background: linear-gradient(0, rgb(93, 255, 128), rgb(51, 163, 255));
    border: 1px solid #999;
    border-radius: 5px;
}

.game-screen__img{
    display: flex;
    margin: 10px 20px;
    border-radius: 10px;
    overflow: hidden;
}

.game-screen__img--css{
    width: 25%;
    height: 150px;
    padding: 0 10px;
}

.game-screen__btn{
    display: block;
}

.game-screen__btn li {
    list-style: none;
    margin: 40px 0 0;
    font-size: 1.8rem;
    font-weight:700;
}

.game-screen__btn a{
    display: block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000;

}
.game-screen__btn a:hover {
    color: rgb(162, 210, 255);
}

.game-info,
.game-control{
    background: rgb(199, 228, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
}

.game-control__zoom,
.game-control__btn{
    display: block;
}

.btn__control{
    width:35px;
    margin: 0 10px;
}

.like,.unlike,
.btn__zoom{
    font-size: 2.4rem;
    margin: 10px 0 5px 10px;
}

.game-info__report{
    display: flex;
    margin: 10px 10px;
}
.report-flag{
    padding: 3px 5px 0 5px;
}

.game-detail{
    height: 200px;
    background-color: rgb(199, 228, 255);
    margin: 10px 0;
    border-radius: 10px;
    display: block;
}
.game-detail__info{
    font-size: 1.4rem;
    margin-top: 15px;
    height: 128px;
}

.game-comment{
    height: 200px;
    background-color: rgb(199, 228, 255);
    margin: 10px 0;
    border-radius: 10px;
}
.game-comment__account{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border: 2px solid rgba(160, 160, 160, 0.5);
}
.game-comment__account-header{
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}
.game-comment__account-btn{
    display: flex;
    justify-content: center;
}

.game-comment__content{
    display: block;
    font-size: 1.1rem;
    margin:5px;
}
.game-comment__content3,
.game-comment__content2,
.game-comment__content1{
    display: flex;
    height:36px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin: 2px;
}

.game-comment__content3,
.game-comment__content2{
    width: 48%;
    float: left;
}

.comment__img{
    height: 100%;
}

.game-comment__desc{
    margin: 2px 0 2px 5px;
}
.comment__user{
    color: red;
    font-weight: 700;
}




.game-diff{
    height: 500px;
    background-color: rgb(199, 228, 255);
    margin: 10px 0;
    border-radius: 10px;
}
.game-diff-link{
    height: 200px;
    width: 23%;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 5px 0;
    text-decoration: none;
    color: #000;
    position: relative;
    top: 0;
    transition: top linear 0.2s;
}
.game-diff-link:hover{
    top: -5px;
    opacity: 0.8;
}

.game-diff__img{
    height: 70%;
    width: 100%;  
}

.game-diff__name{
    font-size: 1.4rem;
    font-weight: 700;
    height: 15%;
    padding: 5px 0 0 5px;
}

.game-diff__dev{
    font-size: 1.4rem;
    font-weight: 400;
    height: 15%;
    padding: 5px 0 0 5px;
    height: 13%;
}


.game-demo{
    height: 200px;
    background-color: rgb(199, 228, 255);
    margin: 10px 0;
    border-radius: 10px;
}

.game-demo__link{
    display: flex;
    justify-content: center;
}

.game-tag{
    height: 300px;
    background-color: rgb(199, 228, 255);
    margin: 10px 0;
    border-radius: 10px;
}

.game-tag__list{
    width: 100%;
    display: block;
}

.game-tag__item{
    width: 48%;
    height: 30px;
    display: flex;
    float: left;
    margin: 5px 0px;
    align-items: center;
}

.game-tag__img{
    height: 100%;
    margin: 3px;
}
.game-tag__text{
    flex: 1;
}

.game-same{
    height: 400px;
    background-color: rgb(199, 228, 255);
    margin: 10px 0;
    border-radius: 10px;
}
.game-same-link{
    height: 160px;
    width: 40%;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 5px 0;
    text-decoration: none;
    color: #000;
    position: relative;
    top: 0;
    transition: top linear 0.2s;
}
.game-same-link:hover{
    top: -5px;
    opacity: 0.8;
}

.game-same__img{
    height: 70%;
    width: 100%; 
}

.game-same__name{
    font-size: 1.4rem;
    font-weight: 700;
    height: 15%;
    padding: 5px 0 0 5px;
}

.game-same__dev{
    font-size: 1.4rem;
    font-weight: 400;
    height: 15%;
    padding: 5px 0 0 5px;
    height: 13%;
}


.game-desc{
    padding: 15px 10px 10px 10px;
    font-size: 1.4rem;
    display: block;
}

.game-tag__list{
    width: 100%;
}



.footer{
    background-color: rgb(199, 228, 255);
}
.footer-icon{
    display: block;
    position: relative;
}

.footer-icon__css{
    width: 100%;
}

.footer-from{
    position: absolute;
    top:130px;
    left: 50px;
    text-align: center;
}

.about{
    margin: 20px 0;
    list-style: none;
}

.about-header{
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: bold;
}

.about-info{
    margin-bottom: 8px;
    font-size: 1.3rem;
    color: #666;
}

.about-info a{
    text-decoration: none;
    color: #666;
}

.about-info a:hover{
    color: var(--primary-color);
}

.follow-icon{
    margin: 5px;
    color: #666;
}
.follow-icon:hover{
    opacity: 0.5;
}

.footer-img{
    height: 200px;
    border-radius: 10px;
    margin:auto;   
}
