
.footer{
    background-color: rgb(199, 228, 255);
}
.footer-icon{
    display: block;
    position: relative;
}

.footer-icon__css{
    width: 100%;
}

.footer-from{
    position: absolute;
    top:130px;
    left: 50px;
    text-align: center;
}

.about{
    margin: 20px 0;
    list-style: none;
}

.about-header{
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: bold;
}

.about-info{
    margin-bottom: 8px;
    font-size: 1.3rem;
    color: #666;
}

.about-info a{
    text-decoration: none;
    color: #666;
}

.about-info a:hover{
    color: var(--primary-color);
}

.follow-icon{
    margin: 5px;
    color: #666;
}
.follow-icon:hover{
    opacity: 0.5;
}

.footer-img{
    height: 200px;
    border-radius: 10px;
    margin:auto;   
}
